* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav main main main";
}
.navbar {    
    border-right: solid 0.2rem rgb(121, 121, 121);
    display: flex;
    height: 100%;
    width: 20%;
    background-color: rgb(189, 189, 189);
    font-size: 1.2rem;
    text-align: justify;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    grid-area: nav;
}
.navbar header {
    margin: 1rem;
    align-self: center;
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 900;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-top: solid 0.1rem black;
    width: 100%;
    padding: 10px;
}
.main-doc {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: main;
}
.main-section {
    width: 100%;
    text-align: justify;
    margin: 2rem;
}
.main-section h1 {
    margin: 10px;
}
.articles {    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-secoes {
    font-size: 30px;
    margin: 1.5rem;
}
.p-secoes {
    font-size: 1.2rem;
    margin: 1rem;
}
#the_benefits .p-secoes {
    align-self: flex-start;
}
.ul-secoes {
    font-size: 1.2rem;
    margin: 2rem;
}
.ul-secoes li {
    font-size: 1.1rem;
    width: 90%;
    margin: 2rem;
}
.delenda {
    background-color: blanchedalmond;
    text-align: center;
    color: crimson;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: transparent solid 0;
    border-radius: 10px;
    width: 80%;
}
@media (max-width: 400px) {
    * {
        font-size: 10px;
    }
    .navbar {
        width: 25%;
    }
    .main-doc {
        width: 75%;
    }
}